In [1]:
import numpy as np
import pandas as pd

In [20]:
df_views = pd.read_csv("views.csv", encoding = "big5")

df_views.head()

       Date Session source / medium   Views
0  20240122        google / organic  288837
1  20240125        google / organic  256772
2  20240124        google / organic  255552
3  20240123        google / organic  255363
4  20240126        google / organic  242777

In [22]:
df_views.groupby(by = "Date")["Views"].sum().sort_index(ascending = True)

Date
20240122    617994
20240123    534014
20240124    530503
20240125    547520
20240126    517936
20240127    401045
20240128    476875
Name: Views, dtype: int64

In [ ]:
df_daily_views = df_views.groupby(by = "Date")["Views"].sum().sort_index(ascending = True)