In [1]:
import pandas as pd

In [20]:
file_date = input("Please enter file date: ")

Please enter file date: 20240206

In [3]:
df_member = pd.read_csv(f"Super8_{file_date}.csv")

df_member_backup = df_member.copy()

df_member.head()

,顯示名稱,原始名稱平台,平台,加入時間,封鎖時間,客戶狀態,標籤,電子信箱,電話/手機,性別,...,地址,位置（現居城市）,關於,Super 8 用戶 ID,平台 ID,自訂1,自訂2,自訂3,隱藏1,隱藏2
0,Summer Hsia,Summer Hsia,Messenger,2021-08-25 16:47:50,無,有效會員,無,無,無,無,...,無,無,無,7ec46b3ca7a15825f95714ce738c558e,4241188672629779 \t,無,無,無,無,無
1,張正穎,張正穎,Messenger,2021-08-25 18:18:35,無,有效會員,無,無,無,無,...,無,無,無,15b1e22cf7322d12c8aa2b896803e457,4464297753621985 \t,無,無,無,無,無
2,張惠秋,張惠秋,Messenger,2021-08-26 14:58:20,無,有效會員,無,無,無,無,...,無,無,無,4dab5fde763510d5b60f75fa69267311,4350706844952421 \t,無,無,無,無,無
3,吳珍儀,吳珍儀,Messenger,2021-08-27 10:06:14,無,有效會員,無,無,無,無,...,無,無,無,6645d3e5d7d5a0282e12e6f6fc664644,4195496517178365 \t,無,無,無,無,無
4,Rui Chen,Rui Chen,Messenger,2021-08-27 10:17:25,無,有效會員,無,無,無,無,...,無,無,無,87bfdef0193d478b5cb339386e014027,4735806176431569 \t,無,無,無,無,無

## 統計標籤

In [4]:
df_tag = df_member[["標籤"]]

df_tag.head()

  標籤
0  無
1  無
2  無
3  無
4  無

In [5]:
df_tag.value_counts()

標籤
無                                                                                        15143
健康                                                                                         691
政治社會                                                                                       642
理財                                                                                         484
生活消費                                                                                       477
                                                                                         ...
台股,職場,投資,理財,房地產,國際總經,健康,生活消費,退休,情感關係,ETF,科技,政治社會,保險,傳產                                       1
台股,職場,投資,理財,國際總經,健康,科技,傳產,退休,職場學習,房地產,政治社會,品味收藏,教育,情感關係,生活消費,產業動態,美食旅遊                       1
台股,職場,投資,理財,國際總經,ETF,退休,債券基金,健康,科技,房地產,品味收藏,傳產,稅制,生活消費,ESG,投資理財,情感關係,政治社會,金融,勞保勞退,信用卡        1
台股,職場,投資,理財,傳產,科技,國際總經                                                                       1
金融,退休,職場,理財,美食旅遊,生活消費,政治社會,情感關係                                                              1
Length: 113442, dtype: int64

In [6]:
print(len(df_tag))

140600

### 去除空值

In [7]:
df_tag.dropna(inplace = True)

C:\Users\JoeJian\AppData\Local\Temp\ipykernel_13556\4211538322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tag.dropna(inplace = True)

In [8]:
print(len(df_tag))

140562

### 去除標籤為「無」的值

In [9]:
tag_none_index = []

for index, tag in df_tag.itertuples():
    # (index, Page path, Views, article_id)
    if tag == "無":
        tag_none_index.append(index)

In [10]:
print(len(tag_none_index))
tag_none_index[:10]

15143

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print("調整前資料筆數:", len(df_tag))

df_tag.drop(tag_none_index, inplace = True)

print("調整後資料筆數:", len(df_tag))

調整前資料筆數: 140562
調整後資料筆數: 125419

C:\Users\JoeJian\AppData\Local\Temp\ipykernel_13556\453257382.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tag.drop(tag_none_index, inplace = True)

In [12]:
df_tag = df_tag.reset_index(drop = True)

In [13]:
print(len(df_tag))
df_tag.head()

125419

                                                  標籤
0  情感關係,全球股市,投資,房地產,台股,政治社會,健康,退休,ESG,科技,理財,投資理財,...
1                                       政治社會,國際總經,健康
2                                 健康,科技,政治社會,教育,生活消費
3  台股,健康,美食旅遊,國際總經,政治社會,科技,理財,退休,情感關係,生活消費,投資,房地產,傳產
4  傳產,理財,投資,台股,政治社會,房地產,職場,ETF,生活消費,教育,金融,國際總經,勞保...

In [14]:
# df_tag["標籤"] = df_tag["標籤"].apply(lambda X: X.strip())
tag = df_tag["標籤"].apply(lambda X: X.split(","))

In [15]:
tag

0         [情感關係, 全球股市, 投資, 房地產, 台股, 政治社會, 健康, 退休, ESG, 科...
1                                          [政治社會, 國際總經, 健康]
2                                  [健康, 科技, 政治社會, 教育, 生活消費]
3         [台股, 健康, 美食旅遊, 國際總經, 政治社會, 科技, 理財, 退休, 情感關係, 生...
4         [傳產, 理財, 投資, 台股, 政治社會, 房地產, 職場, ETF, 生活消費, 教育,...
                                ...
125414                                          [ETF, 政治社會]
125415                                                [房地產]
125416                                                 [傳產]
125417                                                 [傳產]
125418                                                 [職場]
Name: 標籤, Length: 125419, dtype: object

In [16]:
# 將所有標籤合併成一個list
all_labels = [label for sublist in tag.tolist() for label in sublist]
all_labels = [item.strip() for item in all_labels]

# 使用value_counts()統計每個標籤的數量
result_df = pd.DataFrame(all_labels, columns=['labels']).value_counts().reset_index()
result_df.columns = ['Label', 'Count']

In [17]:
# 顯示結果
result_df.head()

  Label   Count
0    健康  100009
1  政治社會   99095
2  生活消費   98310
3    理財   98017
4    退休   93360

In [19]:
result_df.to_csv(f"Super8_tag_{file_date}.csv", encoding = "utf-8-sig", index = False)